.progress-slider {
    margin: 0 10px;
    position: relative;
    height: 6px;
    background: #eee;
}

.progress-slider-touch-target {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    height: 200%;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    /* Add this so it goes to the edges of the screen */
    left: -10px;
    padding: 0 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.so-far-bar {
    background: #ddd;
    position: absolute;
    height: 100%;
    width: 100%;
    will-change: transform;
    transform-origin: 0;
}

.current-position {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: 0px;
    background: #000;
    transition: transform 0.1s linear, opacity 0.1s linear;
}

.current-position-wrapper {
    margin-left: -10px;
    margin-top: -14px;
    padding: 10px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    will-change: transform;
}

.picked-up-wrapper .current-position {
    transform: scale(1.5);
    opacity: 0.5;
}

.chapter-mark {
    height: 6px;
    width: 6px;
    margin-top: 0px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
}
