.start-button-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    /* total hack but it covers up the top of the slider control */
    margin-top: -5px;
    padding-top: 5px;
    will-change: opacity, transform;
}

.hidden {
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none;
    transition: transform 0.2s linear, opacity 0.2s linear;
}

.start-button-container button {
    display: block;
    border: none;
    padding: 10px 30px;
    background: transparent;
    color: #569396;
    width: 90%;
    /* margin: 0 auto; */
    font-size: 15px;
}

.start-button-container button.highlighted-button {
    background: #ccc;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    font-size: 16px;
}
