.side-menu-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 0.2s linear;
    z-index: 10;
}

.opened-container {
    background: rgba(0, 0, 0, 0.7);
    pointer-events: auto;
}

.side-menu {
    position: absolute;
    height: 100%;
    width: 80%;
    background: #f5f2f0;
    right: 0;
    top: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.2s linear;
    z-index: 3;
    box-sizing: border-box;
}

.scroller {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.top-wing {
}

.opened-container .side-menu {
    transform: translate3d(0, 0, 0);
}

.opener-button {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    pointer-events: auto;
    z-index: 3;
    background: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg width="70" height="48" viewBox="0 0 70 48" xmlns="http://www.w3.org/2000/svg"><title>menu-button</title><g fill="%23000" fill-rule="evenodd"><path d="M0 0h72v8H0zM0 20h72v8H0zM0 40h72v8H0z"/></g></svg>');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 1px;
    overflow: hidden;
    text-indent: -1000px;
}

.strangebird-header {
    font-size: 40px;
    margin: 0;
    max-width: 100%;
}

.closer-button {
    background-image: url('data:image/svg+xml;utf8,<svg width="55" height="53" viewBox="0 0 55 53" xmlns="http://www.w3.org/2000/svg"><title>close-button</title><g stroke="%23000" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="round"><path d="M50 4L4.9 49.1M4 4l45.1 45.1"/></g></svg>');
}

.side-menu h4 {
    font-weight: bold;
    margin: 0;
    margin: 32px 0 10px;
    color: #333333;
    letter-spacing: 0.2px;
}

.side-menu p {
    line-height: 1.3em;
    font-size: 14px;
    margin-top: 0;
}

.episode-list {
    margin: 0;
    padding: 0;
}

.episode-entry {
    list-style: none;
    background: #fff;
    border-radius: 15px;
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    display: flex;
    margin-bottom: 5px;
}

.episodeEntryWithArrow {
    background-image: url('data:image/svg+xml;utf8,<svg width="23" height="45" viewBox="0 0 23 45" xmlns="http://www.w3.org/2000/svg"><title>right-arrow</title><path d="M3 41.353l16.74-19.176L3 3" stroke-width="4" stroke="%23F5B227" fill="none" fill-rule="evenodd" stroke-linecap="round"/></svg>');
    background-size: auto 60%;
    background-position: 96% center;
    background-repeat: no-repeat;
    padding-right: 10%;
}

.episode-entry span {
    display: block;
}

.episode-name {
}

.episode-status {
    color: #767676;
    flex-grow: 1;
    text-align: right;
}

.subscribe-button {
    border-radius: 15px;
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    background: #ccc;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.subscribe-button:disabled {
    background: #ccc;
}

.the-team {
    background: #fff;
    border-radius: 30px;
    margin: 0;
    padding: 0;
}

.the-team li {
    display: flex;
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

.the-team li:last-child {
    border-bottom: none;
}

.the-team img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    flex-shrink: 0;
}

.the-team em {
    color: #848484;
    font-style: normal;
}

.the-team p {
    margin: 0.5em 0;
    margin-left: 10px;
}

.contact-us {
    color: #848484;
    padding: 30px 0;
}

.contact-us a {
    color: #848484;
}
