.bottom-info {
    background: #bbb;
    padding: 15px;
    color: #fff;
    /* transform: translateY(-100%); */
}

/* we may want to give this div a class */
.bottom-info > div {
    text-align: center;
}

.bottom-info h3 {
    margin: 0;
}

.description {
    font-size: 16px;
    line-height: 1.3em;
}

.subtitle {
    color: #eee;
    font-size: 16px;
    margin: 0.5em 0 1em;
}

.bottom-info button {
    color: #bbb;
    background: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 14px;
    padding-left: 30px;
    position: relative;
    margin: 0 3px;
    overflow: hidden;
    font-size: 14px;
}

.bottom-info-button-text {
    position: relative;
    z-index: 2;
}

.download-bar {
    background: #fad893;
}

button.with-checkbox {
    padding-left: 30px;
    position: relative;
}

.checkbox {
    /* background-color: red; */
    background-image: url('data:image/svg+xml;utf8,<svg width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg"><title>tick_off</title><rect width="42" height="42" rx="5" fill="%23000" fill-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    left: 10px;
    /* background: red; */
    /* line-height: 1em; */
    /* margin-right: 5px; */
    /* margin-top: 1px; */
    /* margin-top: 2px; */
}

.checkbox-ticked {
    background-image: url('data:image/svg+xml;utf8,<svg width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>tick_on</title><defs><path d="M37.33 0C39.9 0 42 2.1 42 4.67v32.66C42 39.9 39.9 42 37.33 42H4.67C2.1 42 0 39.9 0 37.33V4.67C0 2.1 2.1 0 4.67 0h32.66zm-21 32.67l21-20.2-3.26-3.14-17.74 17.05-8.4-8.07-3.26 3.14 11.66 11.22z" id="a"/></defs><g fill="none" fill-rule="evenodd"><path fill="%23FFF" d="M3 5h36v29H3z"/><mask id="b" fill="%23fff"><use xlink:href="%23a"/></mask><path fill="%23000" mask="url(%23b)" d="M-10 52h62v-62h-62z"/></g></svg>');
}

.share {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('data:image/svg+xml;utf8,<svg width="44" height="39" viewBox="0 0 44 39" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>share_button</title><defs><path id="a" d="M.67 14.78l30 4.22-30 4.22L.69 38l41.98-19L.69 0z"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="%23fff"><use xlink:href="%23a"/></mask><path fill="%23000" mask="url(%23b)" d="M-9.33 48h62v-58h-62z"/></g></svg>');
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    left: 10px;
}

.download-bar {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    /* z-index: -1; */
}
