.chat {
    background: #fff;
    flex-grow: 1;
    overflow: auto;
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    position: relative;
}

.bubble {
    background: #fff;
    padding: 3vw;
    margin: 0 3vw 3vw;
    margin-left: 6vw;
    border-radius: 2vw;
    color: #555555;
    flex-shrink: 0;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    position: absolute;
    top: 0;
}

.spacer {
    flex-grow: 1;
    height: 200vh;
}

.more-button {
    position: absolute;
    bottom: 0vw;
    text-align: center;
    width: 100%;
    z-index: 1;
    animation-name: more-button-slide-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-width: 0;
}

@keyframes more-button-slide-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-10vw);
    }
}

.more-button button {
    background: #5ebfba;
    color: #fff;
    font-size: 14px;
    padding: 3vw 4vw;
    line-height: 14px;
    border-radius: 3vw;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    left: 10px;
    background-size: cover;
    overflow: hidden;
}

.avatar-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@keyframes slidein {
    from {
        transform: translate3d(-50%, 100px, 0);
    }

    to {
        transform: translate3d(-50%, 0, 0);
    }
}

.more-messages {
    background: #54c3c5;
    color: #fff;
    /* margin: 0 auto 30px; */
    padding: 10px 15px;
    border-radius: 18px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    cursor: pointer;
    animation-name: slidein;
    animation-duration: 0.2s;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
