.bubble-container {
    text-align: left;
    margin-right: auto;
}

.bubble {
    background: #fff;
    display: inline-block;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    border: solid 0.5px #bdc1cb;
    transition: border-radius 0.2s linear;
    font-family: "Guardian Sans Web";
    margin-left: 45px;
}

:global(.chat-window) > div:nth-last-child(2) .bubble-container .bubble {
    /* mess of global rule here, but it's the best I can do */
    border-radius: 15px 15px 15px 0px;
}

.chapter-indicator {
    text-align: center;
    font-family: "Guardian Sans Web";
    color: #909498;
    position: relative;
    margin: 0 15px;
}

.chapter-indicator-text {
    background: #fff;
    padding: 0 10px;
    /* margin: 0 auto; */
    display: inline;
}

.chapter-indicator-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #909498;
    top: 50%;
    z-index: -1;
}

.bubble-touch {
    background: #ccc;
}

.bubble-text-padding {
    padding: 10px 15px;
}

.bubble-text {
    display: inline;
}

.bubble-link {
    display: flex;
    text-decoration: none;
    color: #000;
    margin: 10px;
}

.bubble-link-title {
    font-size: 13px;
    font-weight: bold;
    display: block;
    text-align: left;
}

.bubble-link-domain {
    font-size: 13px;
    color: #bdbdbd;
    display: block;
    text-align: left;
}

.bubble-link-image-container {
    padding-left: 30px;
}

.bubble-link-image {
    display: block;
    float: right;
    height: 30px;
    width: 30px;
}

.bubble-full-width {
    display: block;
}

.bubble-image-container {
    /* margin-bottom: 10px; */
}
