body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.frame {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.controls {
    background: #f5b226;
    flex-shrink: 0;
    /* padding: 3vw 1vw; */
    position: relative;
}

.time-block {
    color: #fff;
    font-family: "Guardian Sans Web";
    font-size: 12px;
    display: block;
    flex-grow: 1;
    /* font-weight: bold; */
}

.time-and-chapter {
    display: flex;
    margin: 10px 15px;
}

.time-left {
    text-align: right;
}

.current-chapter-name {
    text-align: center;
    color: #fff;
    font-family: "Guardian Sans Web";
    font-size: 12px;
}
