.controls {
    text-align: center;
    margin: 20px 0;
}

.controls-inner {
}

.controls button {
    /* border: solid 1px %234c5057; */
    border: none;
    background: transparent;
    color: #fff;
    height: 30px;
    width: 40px;
    padding: 0;
    /* padding: 1.5vw 4vw; */
    font-size: 1px;
    display: inline-block;
    margin: 0 1vw;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center center;
    color: transparent;
    outline: none;
}

button.forward-15 {
    background-image: url('data:image/svg+xml;utf8,<svg width="85" height="53" viewBox="0 0 85 53" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>forward-15</title><defs><path d="M1.941.57l9.055 7.93c.416.36.458.99.094 1.41-.029.03-.06.06-.094.09l-9.055 7.92a1 1 0 0 1-1.659-.75V1.33c0-.55.448-1 1-1 .242 0 .476.09.659.24z" id="a"/></defs><g fill="none" fill-rule="evenodd"><path d="M82.33 29.778c0 11.475-9.252 20.778-20.665 20.778C50.252 50.556 41 41.253 41 29.778 41 18.303 50.252 9 61.665 9" stroke="%23FFF" stroke-width="4" stroke-linecap="round"/><g transform="translate(62)"><mask id="b" fill="%23FFF"><use xlink:href="%23a"/></mask><path fill="%23FFF" mask="url(%23b)" d="M-9.718 28.17h31.056V-9.673H-9.718z"/></g><path d="M5.704 32h3.904V9.664H7.816L1.8 11.936v2.304l3.904-.352V32zm13.44.352c5.184 0 8.288-2.848 8.288-7.296 0-4.8-2.848-6.976-7.712-6.976-1.056 0-1.76.096-2.464.256l.416-5.44h8.992V9.824H14.696l-.8 11.808c1.12-.288 2.56-.544 4.256-.544 3.36 0 5.152 1.024 5.152 3.968 0 2.912-1.92 4.096-5.152 4.096-1.984 0-3.712-.416-5.184-1.088v2.912c1.376.8 3.328 1.376 6.176 1.376z" fill="%23FFF"/></g></svg>');
}

button.back-15 {
    background-image: url('data:image/svg+xml;utf8,<svg width="85" height="53" viewBox="0 0 85 53" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>back-15</title><defs><path d="M1.941.57l9.055 7.93c.416.36.458.99.094 1.41-.029.03-.06.06-.094.09l-9.055 7.92a1 1 0 0 1-1.659-.75V1.33c0-.55.448-1 1-1 .242 0 .476.09.659.24z" id="a"/></defs><g fill="none" fill-rule="evenodd"><path d="M2.67 29.778c0 11.475 9.252 20.778 20.665 20.778C34.748 50.556 44 41.253 44 29.778 44 18.303 34.748 9 23.335 9" stroke="%23FFF" stroke-width="4" stroke-linecap="round"/><g transform="matrix(-1 0 0 1 23 0)"><mask id="b" fill="%23FFF"><use xlink:href="%23a"/></mask><path fill="%23FFF" mask="url(%23b)" d="M-9.718 28.17h31.056V-9.673H-9.718z"/></g><path d="M60.704 32h3.904V9.664h-1.792L56.8 11.936v2.304l3.904-.352V32zm13.44.352c5.184 0 8.288-2.848 8.288-7.296 0-4.8-2.848-6.976-7.712-6.976-1.056 0-1.76.096-2.464.256l.416-5.44h8.992V9.824H69.696l-.8 11.808c1.12-.288 2.56-.544 4.256-.544 3.36 0 5.152 1.024 5.152 3.968 0 2.912-1.92 4.096-5.152 4.096-1.984 0-3.712-.416-5.184-1.088v2.912c1.376.8 3.328 1.376 6.176 1.376z" fill="%23FFF"/></g></svg>');
}

button.pause {
    background-image: url('data:image/svg+xml;utf8,<svg width="38" height="56" viewBox="0 0 38 56" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>pause</title><defs><path d="M5 0c2.761 0 5 2.24 5 5v46a5.001 5.001 0 0 1-10 0V5c0-2.76 2.239-5 5-5z" id="a"/><path d="M5 0c2.761 0 5 2.24 5 5v46a5.001 5.001 0 0 1-10 0V5c0-2.76 2.239-5 5-5z" id="c"/></defs><g fill="none" fill-rule="evenodd"><g transform="translate(3)"><mask id="b" fill="%23FFF"><use xlink:href="%23a"/></mask><path fill="%23FFF" mask="url(%23b)" d="M-10 66h30v-76h-30z"/></g><g transform="translate(25)"><mask id="d" fill="%23FFF"><use xlink:href="%23c"/></mask><path fill="%23FFF" mask="url(%23d)" d="M-10 66h30v-76h-30z"/></g></g></svg>');
}

button.play {
    background-image: url('data:image/svg+xml;utf8,<svg width="27" height="56" viewBox="0 0 27 56" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>play</title><defs><path d="M4.367 1.29l20.374 17.947c.936.815 1.03 2.24.212 3.19a3.683 3.683 0 0 1-.212.205L4.367 40.556c-.936.837-2.358.724-3.177-.204a2.284 2.284 0 0 1-.555-1.494V3.01A2.26 2.26 0 0 1 2.885.747a2.35 2.35 0 0 1 1.482.543z" id="a"/></defs><g transform="translate(0 7)" fill="none" fill-rule="evenodd"><mask id="b" fill="%23FFF"><use xlink:href="%23a"/></mask><path fill="%23FFF" mask="url(%23b)" d="M-21.866 63.753H48.01v-85.645h-69.876z"/></g></svg>');
}

button.more {
    background-image: url('data:image/svg+xml;utf8,<svg width="14" height="56" viewBox="0 0 14 56" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>more</title><defs><path d="M7 13.83c3.866 0 7-3.07 7-6.85S10.866.13 7 .13 0 3.2 0 6.98s3.134 6.85 7 6.85z" id="a"/><path d="M7 13.96c3.866 0 7-3.07 7-6.85S10.866.26 7 .26 0 3.33 0 7.11s3.134 6.85 7 6.85z" id="c"/><path d="M7 13.96c3.866 0 7-3.07 7-6.85S10.866.26 7 .26 0 3.33 0 7.11s3.134 6.85 7 6.85z" id="e"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="%23FFF"><use xlink:href="%23a"/></mask><path fill="%23FFF" mask="url(%23b)" d="M-10 23.83h34V-9.866h-34z"/><g transform="translate(0 21)"><mask id="d" fill="%23FFF"><use xlink:href="%23c"/></mask><path fill="%23FFF" mask="url(%23d)" d="M-10 23.96h34V-9.736h-34z"/></g><g transform="translate(0 42)"><mask id="f" fill="%23FFF"><use xlink:href="%23e"/></mask><path fill="%23FFF" mask="url(%23f)" d="M-10 23.96h34V-9.736h-34z"/></g></g></svg>');
    position: absolute;
    right: 0;
    width: 30px;
    background-size: auto 60%;
}

.controls button:disabled {
    opacity: 0.5;
}
