<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="bundles/mona-ep-1/assets/favicon.ico"/>
    <meta property="og:title" content="Strange Bird" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.gdnmobilelab.com/strange-bird/" />
<meta property="og:image" content="http://www.gdnmobilelab.com/strange-bird/bundles/mona-ep-1/assets/thumb-maat-lrg.jpg" />
<meta property="og:description" content="An audio series about the data behind our everyday lives with Mona Chalabi." />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@gdnmobilelab" />
<meta name="twitter:title" content="Strange Bird" />
<meta name="twitter:description" content="An audio series about the data behind our everyday lives with Mona Chalabi." />
<meta name="twitter:image" content="http://www.gdnmobilelab.com/strange-bird/bundles/mona-ep-1/assets/thumb-maat-lrg.jpg" />
  </head>
  <body>
  </body>
</html>